<ion-content>
  <nav>
    <ion-tab-button>
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Buy Cars</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Sell Cars</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My Account</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Membership</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="calendar"></ion-icon>
      <ion-label>View History</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Announcements</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Support</ion-label>
    </ion-tab-button>
  </nav>
</ion-content>
