nav {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  ion-tab-button {
    max-width: none;
    color: #fff;

    &:nth-of-type(1) {
      background-color: #1abc9c;
    }
    &:nth-of-type(2) {
      background-color: #2ecc71;
    }
    &:nth-of-type(3) {
      background-color: #2980b9;
    }
    &:nth-of-type(4) {
      background-color: #3498db;
    }
    &:nth-of-type(5) {
      background-color: #2980b9;
    }
    &:nth-of-type(6) {
      background-color: #2ecc71;
    }
    &:nth-of-type(7) {
      background-color: #1abc9c;
    }
    &:nth-of-type(8) {
      background-color: #2ecc71;
    }
    &:nth-of-type(9) {
      background-color: #3498db;
    }
  }
}
